<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLVNJDG"
                  height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!--<div id="sitelogo">-->
    <!--<a class="glyph" alt="Home" href="{{ .Site.BaseURL }}"><img scr="https://raw.githubusercontent.com/chabok-io/chabok-assets/master/chabok-company-logo-color-full.png" alt="Site Logo" height="64px" width="64px"></a>-->
<!--</div>-->
<header>
    {{ partial "pagenav.html" . }}
    {{ if not .IsPage }}
    <div id="site-header">
        <!--<h1>{{ .Site.Title }}</h1>-->
        {{ with .Site.Params.subtitle }}
        <p>
            {{ . }}
        </p>
        {{ end }}
    </div>
    {{ end }}
</header>

<script>
    function addHeadingLinks(){
        const article = document.getElementById('article');
        const headings = article.querySelectorAll('h1, h2, h3, h4, h5, h6');
        headings.forEach(function(heading){
            if(heading.id){
                const a = document.createElement('a');
                const svg = document.createElement('svg');
                svg.style.display = 'none'
                svg.innerHTML = '<svg id="linksvg" class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>';
                a.innerHTML = heading.innerHTML
                a.href = '#'+a.innerHTML;
                heading.id = a.innerHTML;
                heading.innerHTML = '';
                a.onmouseenter = () => {
                    svg.style.display = 'inline-block';
                }

                a.onmouseout = () => {
                    svg.style.display = 'none';
                }
                a.appendChild(svg)
                heading.appendChild(a);
            }
        });
    };

    window.onload = () => {
        addHeadingLinks()
    }
</script>
